
*.vsidx
*.v2
*.v2
C\#_Project/Password_Gen/.vs/Password_Gen/v17/.suo
C\#_Project/Password_Gen/Password_Gen/obj/Debug/net6.0/refint/Password_Gen.dll
C\#_Project/Password_Gen/Password_Gen/obj/Debug/net6.0/ref/Password_Gen.dll
C\#_Project/Password_Gen/Password_Gen/obj/Debug/net6.0/Password_Gen.pdb
C\#_Project/Password_Gen/Password_Gen/obj/Debug/net6.0/Password_Gen.dll
C\#_Project/Password_Gen/Password_Gen/bin/Debug/net6.0/Password_Gen.pdb
C\#_Project/Password_Gen/Password_Gen/bin/Debug/net6.0/Password_Gen.dll
C\#_Project/Password_Gen/.vs/ProjectEvaluation/password_gen.projects.v7.bin
C\#_Project/Password_Gen/.vs/ProjectEvaluation/password_gen.metadata.v7.bin
C\#_Project/Password_Gen/.vs/Password_Gen/v17/.suo
C\#_Project/Password_Gen/.vs/Password_Gen/v17/.futdcache.v2
C\#_Project/Password_Gen/.vs/Password_Gen/FileContentIndex/5c5d6ec5-736e-4841-8afa-86abfb6c6143.vsidx
C\#_Project/Password_Gen/.vs/Password_Gen/FileContentIndex/0a020dd6-104b-449e-99bc-1f3f629842a3.vsidx
C\#_Project/Password_Gen/.vs/Password_Gen/DesignTimeBuild/.dtbcache.v2
